:root {
  --black: #000;
  --white: #fff;
}

audio {
  display: none;
}

svg {
  display: block;
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.podcast {
  padding: 7rem 0;

  &--light {
    color: var(--black);
  }

  &--dark {
    color: var(--white);
  }

  &__player {
    max-width: 670px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__main {
    display: flex;
    align-items: flex-start;
  }

  &__progressBar {
    height: 10px;
    width: 620px;
    margin-top: 1rem;
  }

  &__progressBar--light {
    background-color: var(--black);
  }

  &__progressBar--dark {
    background-color: var(--white);
  }

  &__progressBar-playing {
    height: 10px;
  }

  &__progressBar-playing--light {
    background-color: var(--white);
  }

  &__progressBar-playing--dark {
    background-color: var(--black);
  }

  &__button-container {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    margin-top: 0.75rem;
    background: none;
    cursor: pointer;
    margin-right: 0.75rem;
  }

  &__button {
    &--light {
      fill: black;
    }

    &--dark {
      fill: white;
    }
  }

  &__title {
    font-family: "Adieu", sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 100;
  }

  &__meta {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0;
    display: flex;
    font-style: italic;

    &Item {
      margin-right: 0.25rem;
    }
  }
}
